In [1]:
#import importanat library
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

#visualization
import seaborn as sns

# import library (models)

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import StandardScaler

In [26]:
#loading dataset
df = pd.read_csv("Stars.csv")
df

     Temperature              L          R    A_M  Color Spectral_Class  Type
0           3068       0.002400     0.1700  16.12    Red              M     0
1           3042       0.000500     0.1542  16.60    Red              M     0
2           2600       0.000300     0.1020  18.70    Red              M     0
3           2800       0.000200     0.1600  16.65    Red              M     0
4           1939       0.000138     0.1030  20.06    Red              M     0
..           ...            ...        ...    ...    ...            ...   ...
235        38940  374830.000000  1356.0000  -9.93   Blue              O     5
236        30839  834042.000000  1194.0000 -10.63   Blue              O     5
237         8829  537493.000000  1423.0000 -10.73  White              A     5
238         9235  404940.000000  1112.0000 -11.23  White              A     5
239        37882  294903.000000  1783.0000  -7.80   Blue              O     5

[240 rows x 7 columns]

In [3]:
#The number of each type
df.Type.value_counts()

0    40
1    40
2    40
3    40
4    40
5    40
Name: Type, dtype: int64

In [4]:
#shape DataFrame
df.shape


#informations
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature     240 non-null    int64
 1   L               240 non-null    float64
 2   R               240 non-null    float64
 3   A_M             240 non-null    float64
 4   Color           240 non-null    object
 5   Spectral_Class  240 non-null    object
 6   Type            240 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 11.3+ KB

In [5]:
df.Color.value_counts()

df.Spectral_Class.value_counts()

M    111
B     46
O     40
A     19
F     17
K      6
G      1
Name: Spectral_Class, dtype: int64

In [6]:
#histogram catigrocal data
sns.histplot(data = df ,x = "Spectral_Class" )
plt.show()

In [7]:
#histogram numrical data
df.hist(figsize=(20,20))
plt.show()

In [8]:
#Correlation Matrix
plt.figure(figsize=(10,10))
corr=df.corr()
sns.heatmap(corr,annot=True)

In [9]:
#histogram catigrocal data
sns.histplot(data = df , x = "Color");
plt.xticks(rotation=90)
plt.show()

In [10]:
plt.figure(figsize=(12,7))
plt.pie(df.Spectral_Class.value_counts() ,labels = df.Spectral_Class.unique(),explode = [0.1,0,0,0,0,0,0.5],shadow = True,autopct='%1.1f%%')
plt.title("The largest spectral class", fontsize = 15)
plt.show()

In [11]:
df.head()

   Temperature         L       R    A_M Color Spectral_Class  Type
0         3068  0.002400  0.1700  16.12   Red              M     0
1         3042  0.000500  0.1542  16.60   Red              M     0
2         2600  0.000300  0.1020  18.70   Red              M     0
3         2800  0.000200  0.1600  16.65   Red              M     0
4         1939  0.000138  0.1030  20.06   Red              M     0

In [12]:
sns.scatterplot(data= df, x = "Type" , y="Temperature");

In [13]:
sns.scatterplot(data =df, x = "Temperature", y = "A_M")

In [14]:
X = df.drop(columns=["Type"], axis =1)
y = df.Type
print("X shape --> ", X.shape)
print("y shape --> ", y.shape)

X shape -->  (240, 6)
y shape -->  (240,)

In [24]:
X = pd.get_dummies(X)

ValueError: Data must be 1-dimensional

In [25]:
# Transform Standardiztion
Str = StandardScaler()
X = Str.fit_transform(X)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [17]:
# split data
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=42 , test_size= 0.2 )

In [18]:
print("X_train --> " ,X_train.shape)
print("y_train --> " ,y_train.shape)
print("y_test --> " ,y_test.shape)
print("X_test --> " ,X_test.shape)

X_train -->  (192, 28)
y_train -->  (192,)
y_test -->  (48,)
X_test -->  (48, 28)

In [45]:
# # DecisionTree model


Dr =DecisionTreeClassifier(max_depth = 10)
#train model
Dr.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=10)

In [46]:
r2_score(y_train , Dr.predict(X_train))

1.0

In [47]:
mean_squared_error(y_train, Dr.predict(X_train))

0.0

In [48]:
y_pred = Dr.predict(X_test)

In [49]:
r2_score(y_test,y_pred)

1.0